<template>
    <footer id="footer">
        <el-container direction="vertical">
            <el-row>
                <el-col :md="24" :lg="13">
                    <yandex-map :coords="[56.85, 35.94]" zoom="11" style="width: 100%; height: 630px;">
                        <ymap-marker
                            marker-id="1"
                            marker-type="placemark"
                            :coords="[56.854783, 35.924185]"
                            :icon="{color: 'teal'}"
                            cluster-name="1">
                        </ymap-marker>
                        <ymap-marker
                            marker-id="2"
                            marker-type="placemark"
                            :coords="[56.874582, 35.827544]"
                            :icon="{color: 'teal'}"
                            cluster-name="2">
                        </ymap-marker>
                    </yandex-map>
                </el-col>
                <el-col :md="24" :lg="11" class="shadow">
                    <el-container direction="vertical" class="contact-part">
                        <el-row type="flex"  align="middle" class="desc-header">
                            <h2>Консультации проходят по адресам</h2>
                        </el-row>
                        <el-row class="desc-list">
                            <el-col class="desc-el">
                                <el-container direction="vertical">
                                    <el-row type="flex" justify="start" align="middle" class="desc-title">
                                        <el-col>
                                            <h3>Областная клиническая больница г.Тверь (отделение платных услуг)</h3>
                                        </el-col>
                                    </el-row>
                                    <el-row type="flex" justify="start" align="middle">
                                        <img src="../../images/placeholder.svg" alt="" class="ms-icon">
                                        <span>г. Тверь, Петербургское шоссе, д.105</span>
                                    </el-row>
                                    <el-row type="flex" justify="start" align="middle">
                                        <img src="../../images/clock.svg" alt="" class="ms-icon">
                                        <span>Понедельник, Пятница: 09:00-12:00 (по предварительной записи)</span>
                                    </el-row>
                                    <el-row type="flex" justify="start" align="middle">
                                        <img src="../../images/phone-call.svg" alt="" class="ms-icon">
                                        <span>Телефоны для записи: 8 (904) 013-42-74, 8 (920) 173-88-58, 8 (4822) 47-51-58</span>
                                    </el-row>
                                </el-container>
                            </el-col>
<!--                            <el-container direction="vertical">-->
<!--                                <el-row type="flex" justify="start" align="middle" class="desc-title">-->
<!--                                    <el-col>-->
<!--                                        <h3>Областная клиническая больница г.Тверь (отделение платных услуг)</h3>-->
<!--                                    </el-col>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle">-->
<!--                                    <img src="../../images/placeholder.svg" alt="" class="ms-icon">-->
<!--                                    <span>г. Тверь, Петербургское шоссе, д.105</span>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle">-->
<!--                                    <img src="../../images/clock.svg" alt="" class="ms-icon">-->
<!--                                    <span>Понедельник, Пятница: 09:00-12:00 (по предварительной записи)</span>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle">-->
<!--                                    <img src="../../images/phone-call.svg" alt="" class="ms-icon">-->
<!--                                    <span>Телефоны для записи: 8 (904) 013-42-74, 8 (920) 173-88-58, 8 (4822) 47-51-58</span>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle" class="desc-title">-->
<!--                                    <el-col>-->
<!--                                        <h3>Клиника восстановительной медицины:</h3>-->
<!--                                    </el-col>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle">-->
<!--                                    <img src="../../images/placeholder.svg" alt="" class="ms-icon">-->
<!--                                    <span>г.Тверь, Татарский переулок, д.22</span>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle">-->
<!--                                    <img src="../../images/clock.svg" alt="" class="ms-icon">-->
<!--                                    <span>Вторник: 08:00-18:00 (по предварительной записи)</span>-->
<!--                                </el-row>-->
<!--                                <el-row type="flex" justify="start" align="middle">-->
<!--                                    <img src="../../images/phone-call.svg" alt="" class="ms-icon">-->
<!--                                    <span>Телефон для записи: 8 (4822) 78-00-60</span>-->
<!--                                </el-row>-->
<!--                            </el-container>-->
                        </el-row>
                        <el-row class="desc-list">
                            <el-col class="desc-el">
                                <el-container direction="vertical">
                                    <el-row type="flex" justify="start" align="middle" class="desc-title">
                                        <el-col>
                                            <h3>Клиника восстановительной медицины:</h3>
                                        </el-col>
                                    </el-row>
                                    <el-row type="flex" justify="start" align="middle">
                                        <img src="../../images/placeholder.svg" alt="" class="ms-icon">
                                        <span>г.Тверь, Татарский переулок, д.22</span>
                                    </el-row>
                                    <el-row type="flex" justify="start" align="middle">
                                        <img src="../../images/clock.svg" alt="" class="ms-icon">
                                        <span>Вторник: 08:00-18:00 (по предварительной записи)</span>
                                    </el-row>
                                    <el-row type="flex" justify="start" align="middle">
                                        <img src="../../images/phone-call.svg" alt="" class="ms-icon">
                                        <span>Телефон для записи: 8 (4822) 78-00-60</span>
                                    </el-row>
                                </el-container>
                            </el-col>
                        </el-row>
                    </el-container>
                </el-col>
            </el-row>
            <el-row class="ms-bb">
                <ms-contacts />
            </el-row>
            <el-row type="flex" justify="justify-between" align="middle"  class="politic-part ms-container">
                <el-container direction="vertical">
                    <el-row>
                        <el-col class="rights">
                            © 2019, Пластический хирург д.м.н. Сергиенко Е.Н. Все права защищены.
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <a target="_blank" href="/politika.pdf" class="politic">Политика конфидициальности</a>
                        </el-col>
                    </el-row>
                </el-container>
                <img src="../../images/plus-18-movie.svg" class="age-icon">
            </el-row>
        </el-container>
    </footer>
</template>

<script>
import MsContacts from './MsContacts';

export default {
    name: 'MsFooter',

    components: {
        MsContacts,
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#footer {
    background-color: $--color-background;

    .shadow {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
        height: 630px;
    }

    .contact-part {
        @include contact;
        .desc-header {
            height: 145px;
            border-bottom: 1px solid $--color-primary;
            margin-bottom: 50px;
            padding: 0 70px;
        }
        .desc-list {
            padding: 0 70px;

            .desc-el {
                margin-bottom: 50px;
            }
        }
    }

    .ms-bb {
        border-bottom: 1px solid $--color-primary;
    }

    .politic-part {
        padding: 40px 0;
        color: $--color-gray-label;
        font-size: 14px;

        .politic {
            color: $--color-gray-label;
            font-size: 14px;
        }

        .age-icon {
            width: 31px;
            height: 31px;
        }
    }
}
</style>
