<template>
    <el-container direction="vertical" id="news-card" :class="{ low, mid, big }">
        <el-row>
            <el-col v-if="url" :span="lgSpan" class="image-wrapper">
                <el-image
                    v-if="url && !svg"
                    class="news-image"
                    :class="{ low, mid, svg }"
                    :src="url"
                    fit="cover" />
                <el-row v-else-if="svg"
                        :class="{ low, svg }"
                        type="flex"
                        align="middle"
                        justify="center">
                    <img :src="`${url}`"
                         :class="{ low, svg }"
                         class="news-image">
                </el-row>
            </el-col>
            <el-col :span="24 - lgSpan" class="news-content" :class="{ low }">
                <el-container direction="vertical">
                    <template v-if="big">
                        <el-row type="flex" align="middle" justify="space-between">
                            <div class="title">{{ title }}</div>
                            <div class="date">{{ date }}</div>
                        </el-row>
                    </template>
                    <template v-else>
                        <el-row v-if="date" class="date">{{ date }}</el-row>
                        <el-row v-if="title" class="title">{{ title }}</el-row>
                    </template>
                    <el-row v-if="description" class="description">{{ description }}</el-row>
                </el-container>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
export default {
    name: 'MsNewsCard',

    props: {
        low: {
            type: Boolean,
            default: false,
        },
        mid: {
            type: Boolean,
            default: false,
        },
        big: {
            type: Boolean,
            default: false,
        },
        svg: {
            type: Boolean,
            default: false,
        },
        url: {
            type: String,
            default: '',
        },
        date: {
            type: String,
            default: '',
        },
        title: {
            type: String,
            default: '',
        },
        description: {
            type: String,
            default: '',
        },
    },

    computed: {
        lgSpan: vm => vm.low ? 6 : (vm.big ? 0 : 9),
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#news-card {
    @include box-shadow;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    background-color: $--color-background;
    height: 215px;

    &.mid,
    &.low {
        height: 165px;
    }

    &.big {
        height: 100%;
    }

    .image-wrapper {
        .svg {
            height: 100%;

            &.low {
                height: 165px;
            }
        }

        .news-image {
            width: 100%;
            height: 215px;

            &.low {
                height: 165px;
            }

            &.mid {
                height: auto;
                min-height: 165px;
                padding: 40px 30px 0;
                width: calc(100% - 30px);
            }

            &.svg {
                height: 100px;
                width: 100px;
            }
        }
    }

    .news-content {
        padding: 30px;

        &.low {
            height: 165px;
        }

        .date {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 15px;
            color: $--color-gray-label;
        }

        .title {
            @include view-title;
            font-size: 18px;
        }

        .description {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
</style>
