<template>
    <el-container direction="vertical" id="about" class="animated fadeInUp faster ms-container" v-loading="isLoading">
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h2>Пластический хирург Сергиенко Е. Н.</h2>
            </el-col>
        </el-row>
        <el-row class="about-row">
            <el-col class="about-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <p>Сергиенко Елена Николаевна, сертифицированный пластический хирург, закончила ГОУ ВПО «Тверская государственная медицинская академия» в 1999 с отличием. Обучалась в клинической ординатуре по специальности челюстно-лицевая хирургия, прошла очную стажировку по теме: «Косметические и реконструктивно-восстановительные операции», очную стажировку по пластической, реконструктивной и эстетической хирургии и микрохирургии, прослушала сертификационный курс «Теория и практика применения ботулинического токсина типа А в эстетической медицине».</p>
                </el-col>
            <el-col class="about-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <p>В 2012 году назначена Главным пластическим хирургом Министерства здравоохранения Тверской области.</p>
                <p>Главный внештатный специалист пластический хирург Министерства Здравоохранения Тверской области; Член профильной комиссии по пластической хирургии Министерства Здравоохранения Российской Федерации.</p>
                <p>Ежедневно проводит разнообразные операции, в том числе по собственным запатентованным методикам, на всей поверхности тела человека. Имеет большой клинический опыт.</p>
            </el-col>
        </el-row>
        <el-row class="about-row">
            <el-col v-for="(item, index) in new Array(3)"
                    :key="index"
                    class="about-el image-el"
                    :sm="24"
                    :md="8"
                    :lg="8">
                <el-image
                    class="about-image"
                    :src="`../../images/about${index + 1}.png`"
                    fit="cover" />
            </el-col>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h3>Патенты</h3>
            </el-col>
        </el-row>
        <el-row class="about-row">
            <el-col class="about-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <p>Автор 7 патентов на изобретения, 2 монографий, 1 учебно-методического пособия, 40 научных публикаций в области пластической хирургии, в том числе 11 в журналах, рецензируемых ВАК. Награждена Золотой медалью ВДНХ за изобретения в области пластической хирургии.</p>
            </el-col>
            <el-col v-if="patents && patents.length > 0" class="about-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <ms-news-card mid
                              title="Патенты и публикации"
                              description="Посмотреть"
                              url="../../images/patent.png"
                              @click.native="showImageOfCategory(1)" />
            </el-col>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h3>Достижения</h3>
            </el-col>
        </el-row>
        <el-row class="about-row">
            <el-col class="about-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <p>
                    <strong>Кандидат медицинских наук</strong><br />
                    В 2002 году присуждена ученая степень кандидата медицинских наук. Тема диссертации: «Коррекция возрастных изменений кожных покровов и мягких тканей лица, методом подкожного расслоения».
                </p>
                <p>
                    <strong>Доктор медицинских наук</strong><br />
                    В 2010 году присуждена ученая степень доктора медицинских наук. Тема диссертации: «Комплексное хирургическое лечение возрастных изменений поверхностных мягких тканей лица и шеи».
                </p>
            </el-col>
            <el-col class="about-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <ms-news-card mid
                              title="Награды и дипломы"
                              description="Посмотреть"
                              url="../../images/achievements.png"
                              @click.native="showImageOfCategory(0)" />
            </el-col>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h3>Отзывы пациентов</h3>
            </el-col>
        </el-row>
        <el-row v-if="reviews" type="flex" align="middle" justify="center" ref="carousel-row" class="about-row carousel-row" >
            <div class="nav-left" @click="moveCarousel(-1)" />
            <div class="carousel-wrapper">
                <div class="carousel-overflow-container">
                    <div class="carousel-cards" :style="cardsStyle">
                        <ms-news-card v-for="(item, index) in reviews"
                                      :key="index"
                                      class="carousel--card"
                                      big
                                      :title="item.name"
                                      :date="item.date"
                                      :description="item.comment" />
                    </div>
                </div>
            </div>
            <div class="nav-right" @click="moveCarousel(1)" />
        </el-row>
        <el-dialog :visible.sync="dialogVisible"
                   destroy-on-close
                   append-to-body
                   :show-close="false"
                   fullscreen>
            <el-image-viewer v-if="dialogVisible"
                             :on-close="closeDialog"
                             :url-list="imageSrcList" />
        </el-dialog>
    </el-container>
</template>

<script>
import moment from 'moment';
import service from '../service';
import MsNewsCard from '../components/MsNewsCard';
import ElImageViewer from 'element-ui/packages/image/src/image-viewer'

export default {
    name: 'About',

    components: { MsNewsCard, ElImageViewer },

    data() {
        return {
            reviews: [],
            patents: [],
            imageSrcList: [],
            isLoading: false,
            dialogVisible: false,
            currentOffset: 0,
        };
    },

    computed: {
        paginationFactor: vm => vm.$refs['carousel-row'].$el.clientWidth / vm.reviewOnPage + 15,
        reviewOnPage: () => window.innerWidth > 1000 ? 2 : 1,
        cardsStyle: vm => ({
            transform: `translateX(${vm.currentOffset}px)`,
            width: `calc((${100 / vm.reviewOnPage}% - 15px) * ${vm.reviews.length} + ${30 * (vm.reviews.length - 1)}px)`,
        }),
        atEndOfList: vm => vm.currentOffset <= -vm.paginationFactor * (vm.reviews.length - vm.reviewOnPage) ,
        atHeadOfList: vm => vm.currentOffset === 0,
    },

    created() {
        this.isLoading = true;
        this.loadPage();
    },

    methods: {
        async loadPage() {
            this.reviews = await service.getComments();
            this.patents = await service.getPattents();
            this.reviews.forEach((item) => {
                item.date = moment(item.updated_at).format('D MMMM YYYY');
            });
            this.isLoading = false;
        },
        moveCarousel(direction) {
            if (direction === 1 && !this.atEndOfList) this.currentOffset -= this.paginationFactor;
            else if (direction === -1 && !this.atHeadOfList) this.currentOffset += this.paginationFactor;
        },
        closeDialog() {
            console.log('closeDialog');
            this.dialogVisible = false;
            this.imageSrcList = [];
        },
        showImageOfCategory(cat) {
            this.imageSrcList = this.patents.filter(item => Number(item.category) === cat).map(item => `/uploads/${item.photo}`);
            this.dialogVisible = true;
        },
    }
}
</script>

<style lang="scss">
@import '../../sass/app';

#about{
    .title-wrapper {
        margin-bottom: 30px;
    }
    .about-row {
        margin-bottom: 50px;

        .about-el {
            @include row-padding;

            strong {
                font-weight: bold;
            }

            p {
                font-family: 'ProximaNovaRegular', sans-serif;
                font-size: 16px;
                line-height: 26px;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            &.image-el {
                padding-right: 30px;
                padding-left: 30px;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }

                .about-image {
                    height: 250px;
                    width: 100%;
                }

                @media only screen and (max-width: 992px) {
                    margin-bottom: 20px;
                    width: 50%;

                    .about-image {
                        height: 100%;
                    }
                }
            }
        }

        &.carousel-row {
            position: relative;

            .nav-left,
            .nav-right {
                z-index: 1;
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: black;
                cursor: pointer;
                transition: transform 150ms linear;
                &[disabled] {
                    opacity: 0.2;
                    border-color: black;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 10px;
                    left: 11px;
                    width: 8px;
                    height: 8px;
                    border-left: 3px solid $--color-background;
                    border-bottom: 3px solid $--color-background;
                }
            }

            .nav-left {
                left: -15px;

                &:after {
                    transform: rotate(45deg);
                }
                &:active {
                    transform: scale(0.9);
                }
            }

            .nav-right {
                right: -15px;

                &:after {
                    transform: rotate(-135deg);
                    left: 8px;
                }
                &:active {
                    transform: scale(0.9);
                }
            }

            .carousel-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;

                .carousel-overflow-container {
                    padding: 15px;
                    overflow: hidden;
                    margin-right: -15px;
                    margin-left: -15px;

                    .carousel-cards {
                        display: flex;
                        flex: 1;
                        transition: transform 150ms ease-out;
                        transform: translateX(0px);

                        .carousel--card {
                            margin: 0 0 0 30px;
                            width: 50%;

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>
