<template>
    <el-container direction="vertical" class="animated fadeInUp faster contact-part ms-container"  v-loading="isLoading">
        <el-row type="flex" justify="start" align="middle" class="desc-header">
            <h2>Консультации проходят по адресам:</h2>
        </el-row>
        <el-row v-if="receptions" class="desc-list" :gutter="60">
            <el-col v-for="(item, index) in receptions" :key="index" :span="12" class="desc-el">
                <el-container direction="vertical">
                    <el-row type="flex" justify="start" align="middle" class="desc-title">
                        <el-col>
                            <h3>{{ item.title }}</h3>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <img src="../../images/placeholder.svg" alt="" class="ms-icon">
                        <span>{{ item.address }}</span>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <img src="../../images/clock.svg" alt="" class="ms-icon">
                        <span>{{ item.workhourse }}</span>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <img src="../../images/phone-call.svg" alt="" class="ms-icon">
                        <span>{{ item.phone }}</span>
                    </el-row>
                </el-container>
            </el-col>
        </el-row>
        <el-row class="desc-list">
            <el-col v-if="operations" :span="12" class="desc-el">
                <el-container direction="vertical">
                    <el-row type="flex" justify="start" align="middle" class="desc-header">
                        <h2>Операции проходят по адресам:</h2>
                    </el-row>
                    <template v-for="(item, index) in operations">
                        <el-row type="flex" justify="start" align="middle" class="desc-title">
                            <el-col>
                                <h3>{{ item.title }}</h3>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="start" align="middle">
                            <img src="../../images/placeholder.svg" alt="" class="ms-icon">
                            <span>{{ item.address }}</span>
                        </el-row>
                        <el-row type="flex" justify="start" align="middle" class="mb-30">
                            <img src="../../images/clock.svg" alt="" class="ms-icon">
                            <span>{{ item.workhourse }}</span>
                        </el-row>
                    </template>
                </el-container>
            </el-col>
            <el-col v-if="info" :span="12" class="desc-el">
                <el-container direction="vertical">
                    <el-row type="flex" justify="start" align="middle" class="desc-header">
                        <h2>Мы в социальных сетях:</h2>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <img src="../../images/vk.svg" class="ms-icon">
                        <span>{{ info.vk }}</span>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <img src="../../images/facebook.svg" class="ms-icon">
                        <span>{{ info.fb }}</span>
                    </el-row>
                    <el-row type="flex" justify="start" align="middle">
                        <img src="../../images/instagram.svg" class="ms-icon">
                        <span>{{ info.insta }}</span>
                    </el-row>
                </el-container>
            </el-col>
        </el-row>
        <el-row class="desc-list">
            <el-col :span="12" class="desc-el">
                <ms-news-card low
                              svg
                              title="Полезная информация для пациента"
                              description="Всё, что необходимо знать пациенту перед госпитализацией"
                              url="../../images/business.svg"
                              @click.native="$router.push('/info')" />
            </el-col>
            <el-col :span="12" class="desc-el">
                <ms-news-card low
                              svg
                              title="Часто задаваемые вопросы пациентов"
                              description="Если вы не нашли своего вопроса, вы можете написать напрямую"
                              url="../../images/question.svg"
                              @click.native="$router.push('/faq')" />
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
import service from '../service';
import MsNewsCard from '../components/MsNewsCard';

export default {
    name: 'Contacts',

    components: { MsNewsCard },

    data() {
        return {
            info: null,
            address: null,
            isLoading: false,
        };
    },

    computed: {
        receptions: vm => vm.address && vm.address.filter(item => Number(item.category) === 0),
        operations: vm => vm.address && vm.address.filter(item => Number(item.category) === 1),
    },

    created() {
        this.isLoading = true;
        this.loadPage();
    },

    methods: {
        async loadPage() {
            this.address = await service.getAddresses();
            this.info = await service.getInfo();
            this.isLoading = false;
        },
    }
}
</script>

<style lang="scss">
@import '../../sass/app';

.contact-part {
    @include contact;

    .desc-list {
        .el-col-12 {
            &:nth-child(2n + 1) {
                padding-right: 30px;
            }
            &:nth-child(2n) {
                padding-left: 30px;
            }
        }

        .mb-30 {
            margin-bottom: 30px;
        }
    }
}
</style>
