<template>
    <el-container direction="vertical" id="news" class="animated fadeInUp faster ms-container" v-loading="isLoading">
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <div class="title">
                <h2>Новости</h2>
            </div>
            <div>
                <el-row type="flex" align="middle" justify="space-between">
                    <div class="ms-tab" :class="{ active: activeTab === 2 }" @click="changeTab(2)">Все новости</div>
                    <div class="ms-tab" :class="{ active: activeTab === 0 }" @click="changeTab(0)">Скидки и акции</div>
                    <div class="ms-tab" :class="{ active: activeTab === 1 }" @click="changeTab(1)">Хирургам</div>
                </el-row>
            </div>
        </el-row>
        <el-row class="news-row">
            <el-col v-for="(item, index) in computedNews"
                    :key="index"
                    :sm="24"
                    :md="12"
                    :lg="12"
                    class="news-el">
                <ms-news-card :date="item.updated_at"
                              :title="item.name"
                              :description="item.preview"
                              :url="`/uploads/${item.photo}`"
                              @click.native="showDialog(index)" />
            </el-col>
        </el-row>
        <el-row v-if="!hasMaxNews" class="news-row" type="flex" align="middle" justify="center">
            <el-link @click="loadNews(newsPage + 1)" type="primary">Загрузить ещё</el-link>
        </el-row>
        <el-dialog width="90%"
                   append-to-body
                   destroy-on-close
                   :visible.sync="dialogVisible">
            <el-row class="dialog-row date-row">
                <el-col :span="24">
                    <div class="date">{{ dialogData.updated_at }}</div>
                </el-col>
            </el-row>
            <el-row class="dialog-row">
                <el-col :span="24">
                    <h3 class="title">{{ dialogData.name }}</h3>
                </el-col>
            </el-row>
            <el-row type="flex" align="middle" justify="space-between">
                <el-image
                    :src="`/uploads/${dialogData.photo}`"
                    fit="cover" />
            </el-row>
            <el-row class="dialog-row">
                <el-col :span="24">
                    <p>{{ dialogData.article }}</p>
                </el-col>
            </el-row>
            <el-row class="dialog-row" type="flex" align="middle" justify="space-between">
                <el-link v-if="currentNewIndex < computedNews.length - 1" @click="showDialog(currentNewIndex + 1)" type="primary">Следующая новость</el-link>
                <el-link v-if="currentNewIndex > 0" @click="showDialog(currentNewIndex - 1)" type="primary">Предыдущая новость</el-link>
            </el-row>
        </el-dialog>
    </el-container>
</template>

<script>
import MsNewsCard from '../components/MsNewsCard';
import service from '../service';
import moment from 'moment';

export default {
    name: 'News',

    props: {
        count: {
            type: Number,
            default: 10,
        }
    },

    components: { MsNewsCard },

    data() {
        return {
            newsCount: 10,
            newsPage: 1,
            dialogVisible: false,
            isLoading: false,
            activeTab: 2,
            lastQueryLength: 0,
            allNews: [],
            dialogData: [],
            currentNewIndex: 0,
        };
    },

    computed: {
        hasMaxNews: vm => vm.allNews.length % vm.newsCount !== 0 || vm.lastQueryLength === 0,
        computedNews() {
            let result = this.allNews;

            if (this.activeTab !== 2) result = this.allNews.filter(item => item.category === String(this.activeTab));
            this.isLoading = false;
            return result;
        },
    },

    created() {
        this.newsCount = this.count;
        this.isLoading = true;
        this.loadNews(1);
    },

    methods: {
        async loadNews(page) {
            let news = await service.getNews({ count: this.newsCount, page });

            if (!Array.isArray(news)) news = Object.values(news);
            this.newsPage = page;
            this.lastQueryLength = news.length;
            this.allNews = [ ...this.allNews, ...news ];
            this.allNews.forEach((item) => {
                item.updated_at = moment(item.updated_at).format('D MMMM YYYY');
                item.preview = `${item.article.slice(0, 75)} ...`;
            });
            this.isLoading = false;
        },
        changeTab(tab) {
            this.isLoading = true;
            this.activeTab = tab;
        },
        showDialog(index) {
            this.dialogVisible = false;
            this.currentNewIndex = index;
            this.dialogData = this.computedNews[index];
            this.dialogVisible = true;
        },
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#news {
    padding-bottom: 150px;

    .title-wrapper {
        margin-bottom: 35px;

        .ms-tab {
            cursor: pointer;
            font-size: 18px;
            line-height: 68px;
            margin-left: 20px;
            margin-right: 20px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                border-bottom: 1px solid $--color-primary;
            }
        }
    }

    .news-row {

        .news-el {
            @include row-padding;
            transition: .3s;
            margin-bottom: 30px;

            &:hover {
                transform: translateY(-20px);
            }

        }
    }
}
</style>
