<template>
    <el-container id="search" direction="vertical" class="animated fadeInUp faster contact-part ms-container"  v-loading="isLoading">
        <el-row type="flex" justify="start" align="middle" class="desc-header">
            <h2>Результаты поиска:</h2>
        </el-row>
        <el-row type="flex" justify="start" align="middle" class="search-row">
            <el-input v-model="search" @change="loadSearch" autofocus>
                <i class="el-icon-search"
                   slot="suffix" />
            </el-input>
        </el-row>
        <el-row type="flex" justify="start" align="middle" class="search-row search-count with-indent">
            <el-col>
                Нашлось {{ searchResult.length }} результатов
            </el-col>
        </el-row>
        <el-row v-for="(item, index) in searchResult" :key="index" type="flex" justify="start" align="middle" class="search-row result with-indent">
            <el-col class="name" @click.native="showDialog(index)">
                {{ item.name }}
            </el-col>
            <el-col class="article">
                {{ item.article }}
            </el-col>
            <el-divider />
        </el-row>
        <el-dialog width="90%"
                   append-to-body
                   destroy-on-close
                   :visible.sync="dialogVisible">
            <el-row class="dialog-row date-row">
                <el-col :span="24">
                    <div class="date">{{ dialogData.updated_at }}</div>
                </el-col>
            </el-row>
            <el-row class="dialog-row">
                <el-col :span="24">
                    <h3 class="title">{{ dialogData.name }}</h3>
                </el-col>
            </el-row>
            <el-row type="flex" align="middle" justify="space-between">
                <el-image
                    :src="`/uploads/${dialogData.photo}`"
                    fit="cover" />
            </el-row>
            <el-row class="dialog-row">
                <el-col :span="24">
                    <p>{{ dialogData.article }}</p>
                </el-col>
            </el-row>
            <el-row class="dialog-row" type="flex" align="middle" justify="space-between">
                <el-link v-if="currentNewIndex < searchResult.length - 1" @click="showDialog(currentNewIndex + 1)" type="primary">Следующая новость</el-link>
                <el-link v-if="currentNewIndex > 0" @click="showDialog(currentNewIndex - 1)" type="primary">Предыдущая новость</el-link>
            </el-row>
        </el-dialog>
    </el-container>
</template>

<script>
import service from '../service';
import moment from 'moment';

export default {
    name: 'Search',

    data() {
        return {
            search: '',
            isLoading: false,
            searchResult: [],
            dialogVisible: false,
            dialogData: [],
            currentNewIndex: 0,
        };
    },

    created() {
        if (this.$route.params.search) {
            this.isLoading = true;
            this.search = this.$route.params.search;
            this.loadSearch();
        }
        console.log(this.$route);
    },

    methods: {
        async loadSearch() {
            this.isLoading = true;
            this.searchResult = await service.searchNews(this.search);
            this.searchResult.forEach((item) => {
                item.updated_at = moment(item.updated_at).format('D MMMM YYYY');
            });
            this.isLoading = false;
        },
        showDialog(index) {
            this.dialogVisible = false;
            this.currentNewIndex = index;
            this.dialogData = this.searchResult[index];
            this.dialogVisible = true;
        },
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#search {
    margin-bottom: 40px;

    .search-row {
        margin-bottom: 30px;

        .el-input {
            @include box-shadow;
            border-radius: 10px;
            background-color: $--color-background;

            input {
                border: none;
                font-family: ProximaNovaRegular, sans-serif;
                font-size: 20px;
                line-height: 20;
                padding: 30px;

            }

            .el-input__suffix {
                display: flex;
                align-items: center;
                right: 30px;
            }
        }

        &.search-count {
            margin-top: 20px;
            font-size: 14px;
        }

        &.with-indent {
            padding-left: 150px;
        }

        &.result {
            flex-direction: column;

            .name {
                color: $--color-primary;
                margin-bottom: 15px;
                cursor: pointer;
            }

            .article {
                font-size: 16px;
            }

            .el-divider {
                background-color: $--color-primary;
                height: 2px;
            }
        }
    }
}
</style>
