<template>
    <el-container direction="vertical" id="uslug" class="animated fadeInUp faster ms-container" v-loading="isLoading">
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <div v-if="spec.name" class="title">
                <h2>{{ spec.name }}</h2>
            </div>
        </el-row>
        <el-row v-if="spec.desc" class="uslug-row">
            <el-col :sm="24"
                    class="specs-el">
                <p>{{ spec.desc }}</p>
            </el-col>
        </el-row>
        <el-row v-if="data && data.length > 0" type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h3>Цены</h3>
            </el-col>
        </el-row>
        <el-row v-if="data && data.length > 0" class="uslug-row">
            <div class="table-wrapper">
                <el-table :data="data"
                          empty-text="Нет данных"
                          :show-header="false"
                          stripe>
                    <el-table-column prop="name" />
                    <el-table-column
                        class-name="price"
                        prop="price"
                        width="260">
                        <template v-slot="scope">
                            {{ scope.row.price.toLocaleString('ru-RU') }} руб.
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-row>
        <el-row v-if="photoResults && photoResults.length > 0" type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h3>Результаты операций</h3>
            </el-col>
        </el-row>
        <el-row v-if="photoResults && photoResults.length > 0" class="uslug-row results-row">
            <el-col :span="24" class="results-wrapper" :style="photoStyle">
                <div v-for="(photo, index) in photoResults"
                     :key="`photo_${index}`"
                     class="photo-card">
                    <el-image
                        class="news-image"
                        :src="`/uploads/${photo.photo}`"
                        fit="cover" />
                </div>
            </el-col>
        </el-row>
        <el-row class="uslug-row desc-list">
            <el-col :span="12">
                <ms-news-card low
                              svg
                              title="Полезная информация для пациента"
                              description="Всё, что необходимо знать пациенту перед госпитализацией"
                              url="../../images/business.svg"
                              @click.native="$router.push('/info')" />
            </el-col>
            <el-col :span="12">
                <ms-news-card low
                              svg
                              title="Часто задаваемые вопросы пациентов"
                              description="Если вы не нашли своего вопроса, вы можете написать напрямую"
                              url="../../images/question.svg"
                              @click.native="$router.push('/info')" />
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
import service from '../service';
import MsNewsCard from '../components/MsNewsCard';

export default {
    name: 'Uslug',

    components: { MsNewsCard },

    data() {
        return {
            data: [],
            spec: {},
            isLoading: false,
            photoResults: [],
        };
    },

    computed: {
        photoStyle: vm => vm.photoResults && { width: `${vm.photoResults.length * 300}px` },
    },

    created() {
        this.isLoading = true;
        this.loadPage();
    },

    methods: {
        async loadPage() {
            this.spec = await service.getSpec(this.$route.params.id);
            this.data = await service.getUslug(this.$route.params.id);
            this.photoResults = await service.getPhotos(this.$route.params.id);
            this.isLoading = false;
        }
    },
};
</script>

<style lang="scss">
    @import '../../sass/app';

    #uslug {

        .title-wrapper {
            margin-bottom: 30px;
        }

        .uslug-row {
            margin-bottom: 50px;

            .table-wrapper {
                @include box-shadow;
                border-radius: 10px;
                overflow: hidden;

                table {
                    td {
                        padding: 25px;
                        min-height: 100px;
                    }

                    .price {
                        .cell  {
                            font-size: 20px;
                        }
                    }
                }
            }

            &.results-row {
                margin-bottom: 30px;
                overflow: scroll;

                .results-wrapper {
                    display: flex;
                    padding-top: 10px;
                    padding-bottom: 30px;

                    .photo-card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include box-shadow;
                        height: 200px;
                        width: 270px;
                        margin-left: 15px;
                        margin-right: 15px;
                        border-radius: 10px;
                    }
                }
            }

            &.desc-list {
                .el-col-12 {
                    &:first-child {
                        padding-right: 30px;
                    }
                    &:last-child {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
</style>
