@font-face {
    font-family: "ProximaNovaBlack";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-Black.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-Black.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaBlackIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-BlackIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-BlackIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaBold";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-Bold.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-Bold.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaBoldIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-BoldIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-BoldIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaExtrabld";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-Extrabld.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-Extrabld.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaExtrabldIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-ExtrabldIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-ExtrabldIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaLight";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-Light.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-Light.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaLightIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-LightIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-LightIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaRegular";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-Regular.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-Regular.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaRegularIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-RegularIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-RegularIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaSemibold";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-Semibold.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-Semibold.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaSemiboldIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-SemiboldIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-SemiboldIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaThinIt";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNova-ThinIt.ttf) format("ttf"),
    url(/fonts/woff/ProximaNova-ThinIt.WOFF) format("woff");
}

@font-face {
    font-family: "ProximaNovaTThin";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/ttf/ProximaNovaT-Thin.ttf) format("ttf"),
    url(/fonts/woff/ProximaNovaT-Thin.WOFF) format("woff");
}
